body {
  background-color: rgba(224, 136, 19, 0.288);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.109);
  box-shadow: 0px 0px 30px 2px black;
  background-color: rgb(10, 98, 123);
}



