body {
  background-color: rgba(226, 218, 0, 0.288);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.109);
  box-shadow: 0px 0px 30px 2px black;
}

