.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.ads-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.ads2 {
  width: 600px;
  width: 35vw;
  height: 45vh;
  /* border-radius: 20px; */
}

.ads-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.ads1 {
  width: 35vw;
  height: 45vh;
  /* border-radius: 20px; */
}

.ads-3-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(157, 157, 247);
  width: 83%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Rancher", cursive;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

.ads-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 20px;
  border-top: 10px dashed;
  border-bottom: 10px dashed;
}

.ads3 {
  width: 20vw;
  height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.ad-text-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.small-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 57, 186);
  color: white;
  width: 100%;
  height: 40px;
  font-family: "Rancher", cursive;
  font-size: x-small;
}

.topbanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 20px dotted rgb(157, 157, 247);
  width: 80%;
  margin-top: 20px;
}
.ads-top {
  width: 45vw;
  height: 30vh;
}

.home-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.order-btn {
  border: none;
  background-color: rgb(250, 57, 186);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  font-family: "Rancher", cursive;
  box-shadow: 0px 0px 10px 1px rgb(157, 157, 247);
  cursor: pointer;
  font-size: larger;
}

/* .topbanner{
    background-color: red;
    padding-bottom: 30PX;

  }

  .insidebanner{
    background-color: rgb(48, 149, 236);
  } */
